pkgbase = fcitx5-ari-ime
	pkgdesc = Ari IME: Fcitx5 mixed Bopomofo/English input without mode switching
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/kaiyasi/Ari-IME
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cmake
	makedepends = extra-cmake-modules
	makedepends = gcc
	depends = fcitx5
	depends = hicolor-icon-theme
	depends = libchewing
	source = fcitx5-ari-ime-1.0.0.tar.gz::https://github.com/kaiyasi/Ari-IME/archive/refs/tags/v1.0.0.tar.gz
	sha256sums = 3d135f125f76add3ebc5d6d5d71d47c06691c2638c007f3e53c9837f025a0efe

pkgname = fcitx5-ari-ime
